<a href="https://colab.research.google.com/github/oprostep/2023-spring/blob/main/Gaussian_Mixture_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.mixture import GaussianMixture

In [26]:
targetUrl = "https://raw.githubusercontent.com/oprostep/2023-spring/main/insurance.csv"

df = pd.read_csv(targetUrl, sep=',')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [33]:
le = LabelEncoder()

le.fit(df.sex.drop_duplicates())
df.sex = le.transform(df.sex)

le.fit(df.smoker.drop_duplicates())
df.smoker = le.transform(df.smoker)

le.fit(df.region.drop_duplicates())
df.region = le.transform(df.region)

scaler= StandardScaler()
scale = scaler.fit_transform(df)
df_scaled = pd.DataFrame(scale, columns=df.columns)

df_scaled.head()

        age       sex       bmi  children    smoker    region   charges
0 -1.438764 -1.010519 -0.453320 -0.908614  1.970587  1.343905  0.298584
1 -1.509965  0.989591  0.509621 -0.078767 -0.507463  0.438495 -0.953689
2 -0.797954  0.989591  0.383307  1.580926 -0.507463  0.438495 -0.728675
3 -0.441948  0.989591 -1.305531 -0.908614 -0.507463 -0.466915  0.719843
4 -0.513149  0.989591 -0.292556 -0.908614 -0.507463 -0.466915 -0.776802

In [29]:
def visualize_cluster_plot(clusterobj, dataframe, label_name, iscenter=True):

    # 군집별 중심 위치: K-Means, Mean Shift 등
    if iscenter:
        centers = clusterobj.cluster_centers_

    # Cluster 값 종류
    unique_labels = np.unique(dataframe[label_name].values)

    markers=['o', 's', '^', 'x', '*']
    isNoise=False

    for label in unique_labels:
        # 군집별 데이터 프레임
        label_cluster = dataframe[dataframe[label_name]==label]

        if label == -1:
            cluster_legend = 'Noise'
            isNoise=True
        else:
            cluster_legend = 'Cluster '+str(label)

        # 각 군집 시각화
        plt.scatter(x=label_cluster['ftr1'], y=label_cluster['ftr2'], s=70,
                    edgecolor='k', marker=markers[label], label=cluster_legend)

        # 군집별 중심 위치 시각화
        if iscenter:
            center_x_y = centers[label]
            plt.scatter(x=center_x_y[0], y=center_x_y[1], s=250, color='white',
                        alpha=0.9, edgecolor='k', marker=markers[label])
            plt.scatter(x=center_x_y[0], y=center_x_y[1], s=70, color='k',\
                        edgecolor='k', marker='$%d$' % label)

    if isNoise:
        legend_loc='upper center'
    else:
        legend_loc='upper right'

    plt.legend(loc=legend_loc)
    plt.show()

In [36]:
gmm =GaussianMixture(n_components=3, covariance_type="spherical", random_state=4).fit(df)
labels = gmm.predict(df)